@model AutomatedTellerMachine.Models.ChartsModel

@{
    ViewBag.Title = "DashBoard Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Overview</h2>

<div>
    @using (Html.BeginForm("Index", "DashBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2 class="gridTitle">

            Select KPI
        </h2>

        <div class="form-group">

            @Html.DropDownListFor(model => model.listItems, Model.listItems, new
       {
           @class = "form-control",
           disableValidation = "true",

           onchange = "this.form.submit();"

       })
        </div>

    }
</div>
<table name="tabel1">
    <li> @(Model.Chart1)</li>
</table>

<h2 class="gridTitle">

    Customer Feedback Sentiment
</h2>
<ul name="li2">
    <li> @(Model.Chart2)</li>
    <div></div>
</ul>