<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://canteenmanagementfeedback.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>canteenmanagementfeedback.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>canteenmanagementfeedback</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$canteenmanagementfeedback</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=feedbackdatabase.database.windows.net;Initial Catalog=feedbackDb;User ID=ranjithmurthy;Password=$Password007" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AutomatedTellerMachine.Models.ApplicationDbContext, AutomatedTellerMachine" MigrationConfiguration="AutomatedTellerMachine.Migrations.Configuration, AutomatedTellerMachine" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=feedbackdatabase.database.windows.net;Initial Catalog=feedbackDb;User ID=ranjithmurthy;Password=$Password007</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>